html, button, input, select, textarea
{
    
    font-size: 16px;
    
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;

}


body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(157, 153, 148);
    background-color: rgb(27, 28, 29);

    width: 100vw;

}

.zonaSuperior
{
    width: 100%;
}

h1
{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    font-weight: normal;
}

ul
{
    display: flex;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    list-style: none;
}

.primeraFila
{
    width: 100%;

    background-color: brown;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;


    flex-wrap: wrap;
    

}

.zonaLogotipo
{
    flex-basis: 322px;

}

.zonaBuscador
{
    /* flex-grow: 1; */
    flex-basis: 200px;

}

.zonaLogin
{
    /* flex-grow: 1; */
}

.logotipo
{
    width: 322px;
    height: 45px;
}

.login
{
    width: 50px;

}


/* SEGUNDA FILA */
.segundaFila
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.zonaNavegacion
{
    /* width: 100%; */

    background-color: brown;

    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: row;


    flex-wrap: wrap;
    flex-grow: 1;
    

}

.elementoZonaNavegacion
{

    text-align: center;
    flex-grow: 1;
}
.grow1
{
    flex-grow: 1;
}



.hamburguesa
{
    width: 48px;
}

.iconoRedesSociales
{
    width: 48px;
    flex-basis: 48px;
}
